body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/cosmos.png") center center / cover no-repeat;
    padding: 20px;
    flex: 1;
}

img {
    width: 80px;
    height: 80px;
}

p {
    font-size: 20px;
}