.account {
    padding: 60px 20%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.account h1 {
    margin: 0;
}

.profile {
    display: flex;
    border: 1px solid var(--border);
    background-color: var(--layer-1);
    border-radius: 12px;
    padding: 18px 12px;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background-color: #d13225;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        align-items: center;
        width: 260px;

    }
}