.competition {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 12px;
    flex-direction: column;
    padding: 40px 20%;
}

.competition__image {
    border-radius: 20px;
    max-width: 90%;
}

@media print {
    .competition__stat {
        display: none;
    }

    img {
        filter: grayscale(100%);
    }
}

h2 {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .competition {
        padding: 40px 20px;
    }
}