section {
    padding: 32px 0 60px 0;
}

.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__top {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 20px;
}

.main__current {
    display: flex;
    flex-direction: column;
}

.main__current-image{
    width: 100%;
    border-radius: 24px;
}

.main__slider {
    display: flex;
    align-items: center;
    position: relative;
}

.main__bottom {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.slider-arrow {
    width: 60px;
    height: 60px;
    background-color: var(--layer-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 12px;
    cursor: pointer;
}

.slider-arrow img {
    width: 60%;
    height: 60%;
}

.slider-arrow-left  {
    position: absolute;
    left: 12px;
}

.slider-arrow-right  {
    position: absolute;
    right: 12px;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.dot {
    background-color: var(--layer-2);
    width: 12px;
    height: 12px;
}

.dot--active {
    background-color: #8a8a8a;
}

.greeting {
    background-color: var(--layer-0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.greeting video {
    border-radius: 24px;
}

.aboutus {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aboutus__information {
    max-width: 400px;
}

.aboutus__image {
    height: 400px;
    border-radius: 24px;
}

.login {
    background-color: var(--layer-0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search__input {
    display: flex;
    gap: 12px;
}

.competitions__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--layer-1);
    padding-left: 32px;
    padding-right: 32px;
}

.slider {
    width: 100%;
}

.reviews-list {
    width: 100%;
    display: flex;
    gap: 20px;
}

.review-card {
    display: flex;
    border: 1px solid var(--border);
    background-color: var(--layer-2);
    border-radius: 12px;
    padding: 16px 20px;
    gap: 24px;
    max-width: 28%;
}

.review-card__avatar {
    width: 52px;
    height: 52px;
    border-radius: 24px;
    flex-shrink: 0;
}

.review-card__data {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review-card__date {
    font-size: 14px;
}

.review-card__arrow-left {
    flex-shrink: 0;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}