section {
    padding: 32px 20px 60px 20px;
    min-height: 600px;
}

.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__top {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 20px;
}

.main__current {
    display: flex;
    flex-direction: column;
}

.main__current-image{
    width: 100%;
    border-radius: 24px;
}

.main__slider {
    display: flex;
    align-items: center;
    position: relative;
}

.main__bottom {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.slider-arrow {
    width: 60px;
    height: 60px;
    background-color: var(--layer-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 12px;
    cursor: pointer;
    flex-shrink: 0;
}

.slider-arrow img {
    width: 60%;
    height: 60%;
}

.slider-arrow-left  {
    position: absolute;
    left: 12px;
}

.slider-arrow-right  {
    position: absolute;
    right: 12px;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.dot {
    background-color: var(--layer-2);
    width: 12px;
    height: 12px;
}

.dot--active {
    background-color: #8a8a8a;
}

.greeting {
    background-color: var(--layer-0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.greeting video {
    border-radius: 24px;
    max-width: 100%;
}

.aboutus {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aboutus__information {
    max-width: 400px;
}

.aboutus__image {
    max-width: 600px;
    width: 30%;
    aspect-ratio: 1;
    border-radius: 99999px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 40px 2px var(--primary-hover);
}

.login {
    padding: 0;
    background-color: var(--layer-0);
    display: flex;
    align-items: stretch;
    justify-content: start;
}

.login__image {
    width: 50%;
    background: url("../images/cosmos.png") center center / cover no-repeat;
}

.login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.search {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
}

.search__input {
    display: flex;
    gap: 12px;
}

.competitions__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(350px, 100%/3.4), 1fr));
    gap: 20px;
    justify-content: center;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--layer-1);
    padding-left: 32px;
    padding-right: 32px;
}

.slider {
    width: 100%;
}

.reviews-list {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.review-card {
    display: flex;
    border: 1px solid var(--border);
    background-color: var(--layer-2);
    border-radius: 12px;
    padding: 16px 20px;
    gap: 24px;
    max-width: 28%;
    min-width: 280px;
}

.review-card__avatar {
    width: 52px;
    height: 52px;
    border-radius: 24px;
    flex-shrink: 0;
}

.review-card__top {
    display: flex;
    justify-content: space-between;
}

.review-card__data {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review-card__date {
    font-size: 14px;
}

.review-card__arrow-left {
    flex-shrink: 0;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1268px) {
    .review-card{
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .reviews-list {
        justify-content: start;
    }

    .reviews-list .slider-arrow {
        display: none;
    }

    .review-card {
        width: 40vw;
        max-width: none;
        flex-shrink: 0
    }

    .login__image {
        display: none;
    }

}

@media (max-width: 768px) {
    .aboutus {
        flex-direction: column;
    }

    .search__input {
        flex-direction: column;
    }
}