.registration {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    padding: 60px   ;
}

.form-container {
    display: flex;
    gap: 24px;
}

.registrate-first-col {
    display: block;
}
.registrate-end {
    display: none;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .registrate-first-col {
        display: none;
    }
    .registrate-end {
        display: block;
    }
}