:root {
    --background: #131313;
    --foreground: #dcdcdc;
    --border: #505050;
    --layer-0: #1e1e1e;
    --layer-1: #252525;
    --layer-2: #393939;
    --actions: var(--layer-2);
    --primary: #2e6abc;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--foreground);
    background-color: var(--background);
}

* {
    box-sizing: border-box;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--layer-1);
}

.switch_theme {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

footer {
    padding: 40px 0 60px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: var(--layer-1);
}

.footer__col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h2 {
    margin: 0 0 32px 0;
}

h4 {
    margin: 0 0 8px 0;
}

button, .btn {
    min-width: 160px;
    height: 36px;
    background-color: var(--primary);
    border: none;
    color: var(--foreground);
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer ;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='text'], input[type='password'], input[type='email'], input[type='number'], select, .label-file{
    padding: 0 12px;
    height: 36px;
    background-color: var(--layer-1);
    color: var(--foreground);
    border: 1px solid var(--border);
    font-weight: bold;
    border-radius: 8px;
    outline: none;
    min-width: 260px;
    transition: 300ms;
}

.label-file {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.label-file input {
    display: none;
}

input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='number']:focus {
    border-color: var(--primary);
}

label {
    margin-bottom: 4px;
}

.form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 260px;
}

.form p {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 8px 0;
}

.form__input-error {
    border-color: orangered !important;
}

.form__input-error__text {
    color: orangered;
    font-weight: 500;
}

.form__input-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    background-color: var(--layer-1);
    border-radius: 12px;
    padding: 12px 16px;
    gap: 12px;
    min-height: 480px;
}

.card button, .card a {
    margin-top: auto;
}

.card__image {
    border-radius: 12px;
}

.card__stat {
    display: flex;
    justify-content: space-between;
}

.card__stat span{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.logo {
    width: 60px;
    height: 60px;
}