:root {
    --white: #dcdcdc;
    --background: #131313;
    --foreground: var(--white);
    --border: #505050;
    --layer-0: #1e1e1e;
    --layer-1: #252525;
    --layer-2: #393939;
    --layer-3: #737373;
    --actions: var(--layer-2);
    --primary: #2e6abc;
    --primary-hover: rgba(46, 106, 188, 0.83);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--foreground);
    background-color: var(--background);
    font-family: sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .2s ease-in-out;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--layer-1);
}

.switch_theme {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.burger {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 40px 0 60px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: var(--layer-1);
}

.footer__col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__col a {
    color: var(--layer-3);
}

h1 {
    margin: 0 0 32px 0;
    font-size: 82px;
}

h2 {
    font-size: 42px;
    margin: 0 0 32px 0;
}

h3 {
    margin: 0 0 18px 0;
}

h4 {
    margin: 0 0 8px 0;
}

button, .btn {
    padding: 0 36px;
    min-width: 140px;
    height: 52px;
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: bold;
    border-radius: 999999px;
    cursor: pointer ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

button:hover, .btn:hover {
    background-color: var(--primary-hover);
}

.btn--second {
    background-color: var(--layer-2) !important;
    border: 1px solid var(--border);
}

input[type='text'], input[type='password'], input[type='email'], input[type='number'], select, .label-file, input[type='date'], input[type='time']{
    padding: 0 12px;
    height: 48px;
    background-color: var(--layer-1);
    color: var(--foreground);
    border: 2px solid var(--border);
    font-weight: 500;
    border-radius: 8px;
    outline: none;
    max-width: 400px;
    width: 100%;
    transition: 300ms;
    font-size: 16px;
    box-sizing: border-box;
}

.label-file {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.label-file input {
    display: none;
}

input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='number']:focus, select:focus, input[type='date']:focus, input[type='time']:focus {
    border-color: var(--primary);
}

input[type='time']::-webkit-calendar-picker-indicator, input[type='date']::-webkit-calendar-picker-indicator  {
    filter: invert(1);
    cursor: pointer;
}

label:has(input[type='checkbox']) {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type='checkbox'] {
    cursor: pointer;
    margin: 0;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    appearance: none;
    height: 24px;
    width: 24px;
    background-color: var(--layer-1);
    color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: 4px;
    flex-shrink: 0;
}

input[type='checkbox']:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: scale(0);
    background-color: var(--foreground);
    width: 50%;
    height: 50%;
    border-radius: 8px;
}

input[type='checkbox']:checked:before {
    transform: scale(1) translate(-50%, -50%);
}


label {
    margin-bottom: 4px;
}

.form {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.form__input-error {
    border-color: orangered !important;
}

.form__input-error__text {
    color: orangered;
    font-weight: 500;
}

.form__input-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    background-color: var(--layer-1);
    border-radius: 12px;
    padding: 12px 16px;
    gap: 12px;
    min-height: 480px;
}

.card button, .card a {
    margin-top: auto;
}

.card h3 {
    height: 36px;
}

.card__description {
    height: 80px;
}

.card__image {
    border-radius: 12px;
    height: 260px;
    object-fit: cover;
    object-position: center;
}

.card__stat {
    display: flex;
    justify-content: space-between;
}

.card__stat span{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    display: none;
}

@media (max-width: 1024px) {
    .burger {
        display: block;
    }

    nav a{
        display: none;
    }

    .switch_theme {
        display: none;
    }
}
